@model IEnumerable<Inventory.Model.ProductCategory>

@{
    ViewBag.Title = "Product Category";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@*<h3>Product Category</h3>*@
@using (Html.BeginForm())
{

    <!-- page title -->
    <header id="page-header">
        <h1>Product Category</h1>
    </header>
    <!-- /page title -->
    <div class="form-horizontal">
        <div id="content" class="padding-20">
            <!-- ------ -->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-transparent">
                    <strong>PRODUCT CATEGORY</strong>
                </div>

                <div class="panel-body">


                    <fieldset>
                        <div class="row">
                            <div class="form-group">
                                @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2" })

                                <div class="col-md-4">
                                    @Html.TextBox("ProductCategoryName", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" id="Save" />
                            <input type="submit" value="Clear" class="btn btn-danger" id="Clear" style="margin-left:20px;" />
                        </div>
                    </div>

                    <div style="display:none">
                        @Html.TextBox("Flag", "A")
                        @Html.TextBox("ProductCategoryId")
                    </div>
                </div>

                <!-- /----- -->

            </div>

            <!-- Loader start-->
            <div class="loading" id="spinner" style="display:none">
                <div class="loader"></div>
            </div>
            <!-- loader end -->

            <div id="panel-3" class="panel panel-default">
                <div class="panel-heading">
                    <span class="title elipsis">
                        <strong>PRODUCT CATEGORY LIST</strong> <!-- panel title -->
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                    </ul>
                    <!-- /right options -->

                </div>
                @*<div id="loader" style="display:none">
                        <img src="~/Images/Loading_icon.gif" />
                    </div>*@
                <!-- panel content -->
                <div class="panel-body">

                    <div class="table-responsive nomargin">
                        <table class="table table-bordered table-striped table-vertical-middle table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.ProductCategoryName)</td>
                                            <td>
                                                <a href="@item.ProductCategoryID" id="Edit" name="Edit" class="btn btn-primary editCategory">Edit</a>
                                            </td>
                                        </tr>}
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Save').click(function (e) {
                e.preventDefault();
                var productCategoryName = $('#ProductCategoryName').val();
                var flag = $('#Flag').val();
                var productCategoryId = $('#ProductCategoryId').val();

                if (productCategoryName == "") {
                    alert("Please enter product category");
                    $('#ProductCategoryName').focus();
                    return;
                }

                var type = "POST" //add
                var url = '../../api/ProductCategory/AddProductCategory'; //add
                var confirmMessage = "Are you sure you want to add this category";

                if (flag == "U") { //update
                    type = "PATCH";
                    url = "../../api/ProductCategory/UpdateProductCategory"
                    confirmMessage = "Are you sure you want to update this category";
                }

                var con = confirm(confirmMessage);
                if (con) {

                    //building product category object
                    var productCategory = {};
                    productCategory.ProductCategoryName = productCategoryName;
                    productCategory.ProductCategoryID = Number(productCategoryId);
                    productCategory.Flag = flag;

                    $.ajax({
                        url: url,
                        cache: false,
                        type: type,
                        contentType: 'application/json',
                        data: JSON.stringify(productCategory),
                        success: successFunc,
                        error: errorFunc
                    });
                }

                function successFunc(response) {
                    console.log(response);
                    location.reload();
                    alert(response);
                }

                function errorFunc(error) {
                    //alert("Error occured");//To avoid alerting if no internet connection.
                    console.log(error);
                }
            })

            $('#Clear').click(function (e) {
                e.preventDefault();
                $('#ProductCategoryName').val('');
                $('#Flag').val("A");
                $('#Save').val("Save");

            })

            $('.editCategory').click(function (e) {
                var id = $(this).attr('id');
                if (id == 'Edit') {
                    e.preventDefault();
                    e.stopPropagation();
                    var ProductCategoryID = $(this).attr("href");
                }
                $.ajax({
                    url: '../../api/ProductCategory/GetProductCategoryById',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json',
                    data: {
                        id: Number(ProductCategoryID)
                    },
                    success: successFunc,
                    error: errorFunc
                });

                function successFunc(response) {
                    console.log(response);
                    $('#ProductCategoryName').val(response.ProductCategoryName);
                    $('#Flag').val("U");
                    $('#Save').val("Update");
                    $('#ProductCategoryId').val(response.ProductCategoryID);
                }

                function errorFunc(error) {
                    console.log(error);
                }
            })

            $(document).ajaxStart(function () {
                $("#spinner").css("display", "block");
            });

            $(document).ajaxComplete(function () {
                $("#spinner").css("display", "none");
            });
        })

    </script>
}
